#mainPane {
    -fx-background-color: #595959;
}

#leftPanel  {
    -fx-background-color: #4d4d4d;
}

#contactList {
    -fx-background-color: #595959;
}

#sendFileButton {
    -fx-background-color:#595959;
    -fx-text-fill: white;
    -fx-background-radius: 5,4,3,5;
}

#sendFileButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.split-pane {
  -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.list-cell {
  -fx-background-color: #595959;
  -fx-text-fill: white;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  display: inline-block;
  -fx-min-width: 50px;
  -fx-border-radius: 5px;
  -fx-border-width: 0.8px;
  -fx-border-color: #606060;
  -fx-cell-size: 35;
}

.list-cell:selected {
    -fx-background-color: #8c8c8c;
}